#cssScreen1,
#threejsScreen1 {
    width: 100%;
    height: 100%;
    perspective: 600px;
    border: 1px solid #4e555b;
    overflow: hidden;
    background-color: #000000;
}

#ob1 {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    transform-style: preserve-3d;
    animation: spin 10s linear infinite;
}
.side {
    position: absolute;
    width: 100px;
    height: 100px;
    background: transparent;
    text-align: center;
    text-transform: uppercase;
    line-height: 100px;
    background-image: url("/assets/textures/t1.jpg");
    background-size: cover;
}

.front {transform: translateZ(50px);}
.top {transform: rotateX(90deg) translateZ(50px);}
.right {transform: rotateY(90deg) translateZ(50px);}
.left {transform: rotateY(-90deg) translateZ(50px);}
.bottom {transform: rotateX(-90deg) translateZ(50px);}
.back {transform: rotateY(-180deg) translateZ(50px);}
